<div class="top">
<div class="container-md">

<h1 class="site-name">About</h1>
<p>Company circleは社内ネットワークを広げるための社内SNSです。<br>
社内に知り合いを増やしたい！<br>
社内で結婚したい！<br>
他部署がどんな仕事をしているのか知りたい！<br>
昇格試験の情報が知りたい！<br>
など業務に関係のあることからプライベートまで自由に交流して頂けます。<br>
弊社で働く全ての方に、「この会社で働いてよかった！」と思って頂けるよう、<br>
仕事もプライベートも充実して頂き、<br>
素晴らしい人生をおくる1つのきっかけになることを願っております。</p>

<%= link_to "戻る", root_path, class: "btn btn-black" %>

</div>
