<div class="container">
		<p id="notice"></p>

<h1>Company circleへようこそ！</h1>
<h2>company circleへに参加して社内ネットワークを広げましょう！</h2>

<h4>アカウントをお持ちの方はこちら</h4>

<%= link_to "ログイン", new_user_session_path %>

<h4>アカウントをお持ちでない方はこちら</h4>

<%= link_to "新規登録", new_user_registration_path %>

</div>
