<div class="top">
<div class="container-md">

<h1 class="site-name">Company circleへようこそ！</h1>
<h4>company circleに参加して社内ネットワークを広げましょう！</h4>

<p>アカウントをお持ちの方はこちら</p>

<%= link_to "ログイン", new_user_session_path, class: "btn btn-black" %>

<p>アカウントをお持ちでない方はこちら</p>

<%= link_to "新規登録", new_user_registration_path, class: "btn btn-black" %>

</div>
</div>
